<script>
window.Papercups = {
  config: {
    token: "4a828300-40b9-460b-9a1d-3cbef4282caa",
    inbox: "cc7df421-3784-405d-b4a6-96328edda6bf",
    title: "Welcome to What Paint LLC",
    subtitle: "Ask us anything in the chat window below 😊",
    primaryColor: "#abb8c3",
    greeting: "Hello! How can I help you?",
    newMessagePlaceholder: "Start typing...",
    showAgentAvailability: false,
    agentAvailableText: "We're online right now!",
    agentUnavailableText: "We're away at the moment.",
    requireEmailUpfront: true,
    iconVariant: "outlined",
    baseUrl: "https://app.chattysun.com",
    iframeUrlOverride: "https://window.chattysun.com",
    defaultIsOpen: false,
    position: "left",
    // Optionally include data about your customer here to identify them
    // customer: {
    //   name: __CUSTOMER__.name,
    //   email: __CUSTOMER__.email,
    //   external_id: __CUSTOMER__.id,
    //   metadata: {
    //     plan: "premium"
    //   }
    // }
  },
};
</script>
<script
  type="text/javascript"
  async
  defer
  src="https://app.chattysun.com/widget.js"
></script>
